// Variables
$blue: #6495ed
$white: #fff
$black: #000
$grey: #ccc

// Mixin
@mixin btn
  background-color: $blue
  border: 2px solid $white
  border-radius: 10px
  color: $white
  cursor: pointer
  padding: 10px 15px


body
  background-color: $black
  font-family: 'Lato', sans-serif
  font-size: 16px

.container
  padding: 40px

h1
  color: $blue
  float: left
  font-size: 3em
  padding-bottom: 30px
  text-align: left

// Search
.search-container
  clear: left
  float: left
  margin-bottom: 20px

  @media (min-width: 800px)
    clear: none
    float: right
    margin-bottom: 0


.search
  background-color: $grey
  border: 2px solid $white
  border-radius: 10px
  font-size: 1em
  margin-right: 6px
  padding: 7px 4px 7px 8px
  width: 50%

  @media (min-width: 500px)
    width: 280px


.search-btn
  @include btn

.unit-btn
  @include btn
  display: block
  margin: 20px auto
  width: 160px

  &:hover
    border: 2px solid $black

// data
.content
  background-color: $white
  clear: both
  padding: 40px 0

.data
  background-color: $white
  clear: both
  margin: 40px
  opacity: .6
  padding: 40px
  text-align: center

.data-city
  font-size: 1.875em
  padding-bottom: 15px

.data-img
  display: block
  margin: 0 auto

.owf
  display: block
  font-size: 70px
  margin: 0 auto

.unit-text
  padding-top: 10px
